<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/client/layout/layout}">

<th:block layout:fragment="content">
    <div class="board-form-container">
        <h1 class="board-title">게시판 수정</h1>
        <form id="updateForm" name="updateForm" th:object="${updateData}">
            <input type="hidden" name="no" th:value="*{no}" />
            <div class="form-group">
                <label class="col-sm-2 col-form-label">작성자</label>
                <p class="readonly-text" th:text="*{name}"></p>
                <!-- <input type="text" class="form-control" th:field="*{boardName}" readonly="readonly" /> -->
            </div>
            <div class="form-group">
                <label class="title">글제목</label>
                <input type="text" class="form-control" th:field="*{title}" />
            </div>
            <div class="form-group">
                <label class="content">글내용</label>
                <textarea class="board-textarea" rows="8" th:field="*{content}"></textarea>
            </div>
            <div class="form-group" th:if="*{not #strings.isEmpty(filename)}">
                <label class="col-sm-2 col-form-label">이미지</label>
                <div class="image-preview">
                    <img th:src="@{/board/view/} + *{filename}" />
                </div>
            </div>
            <div class="form-group">
                <label class="file">이미지파일</label>
                <input type="file" class="form-control" th:field="*{file}">
            </div>
            <div class="form-actions">
                <button type="button" id="boardUpdateBtn" class="button btn btn-primary btn-sm">수정</button>
                <button type="button" id="boardCancelBtn" class="button btn btn-primary btn-sm">취소</button>
                <button type="button" id="boardListBtn" class="button btn btn-primary btn-sm">목록</button>
            </div>
        </form>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="/js/board/updateForm.js"></script>
    <script src="/js/board/boardCommon.js"></script>
</th:block>
</html>