<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/client/layout/layout}">

<th:block layout:fragment="content">
    <div class="board-form-container">
        <h1 class="board-title">게시판 수정</h1>
        <form id="updateForm" name="updateForm" th:object="${updateData}">
            <input type="hidden" name="no" th:value="*{no}" />
            <div class="form-group">
                <label class="col-sm-2 col-form-label">작성자</label>
                <p class="readonly-text" th:text="*{name}"></p>
            </div>
            <div class="form-group">
                <label class="title">글제목</label>
                <input type="text" class="form-control" th:field="*{title}" />
            </div>
            <div class="form-group">
                <label class="content">글내용</label>
                <textarea class="board-textarea" rows="8" th:field="*{content}"></textarea>
            </div>
            <div class="form-actions">
                <button type="button" id="articleUpdateBtn" class="button btn btn-primary btn-sm">수정</button>
                <button type="button" id="articleCancelBtn" class="button btn btn-primary btn-sm">취소</button>
                <button type="button" id="articleListBtn" class="button btn btn-primary btn-sm">목록</button>
            </div>
        </form>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="/js/article/article.js"></script>
</th:block>
</html>